form{
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  @media screen and (max-width: 600px){
    font-size: 13pt;
  }
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
  & .submit{
    margin-top: 3vh;
    @media screen and (max-width: 600px){
      margin-top: 2vh;
    }
    color: white;
    font-size: 12pt;
    background-color: #092763;
    border: 1px solid #092763;
    padding: 6px 20px 6px 20px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    &:hover{
      background-color: #629DCC;
      border: 1px solid #629DCC;
    }
  }
  & label{
    width:25%;
    margin-right: 1.5em;
    text-align: right;
  }
  & input{
    display: inline-block;
  }
}

.download{
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  background: grey;
  color: white;
  padding: 15px;
  border-radius: 25px;
  text-decoration: none;
}

#download-modal{
  margin: auto;
  margin-top: 20vh;
  text-align: center;
  width: 100%;
}

.modal-body{
  padding: 2em 0px 2em 0px;
  & a{
    transition: all .2s ease-in-out;
    &:hover{
      text-decoration: none;
      color: grey;
      background: none;
      border: 1px solid grey;
    }
  }
}
